<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesforceCdcEdiHub.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SalesforceCdcEdiHub.WinForms.Properties.Settings>
            <setting name="chkSwitchToWebView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmbObjects" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbField" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value />
            </setting>
            <setting name="Splitter6Distance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Splitter7Distance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Splitter8Distance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Splitter3Distance" serializeAs="String">
                <value>100</value>
            </setting>
        </SalesforceCdcEdiHub.WinForms.Properties.Settings>
    </userSettings>
</configuration>