<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="..\..\logs\Log__nLogInternal.log">
	<extensions>
		<add assembly="NLog.Windows.Forms" />
	</extensions>
	<targets>
		<target xsi:type="Mail"
                name="mail"
                smtpServer="smtp.gmail.com"
                smtpPort="587"
                smtpAuthentication="Basic"
                smtpUserName="mapeiris@gmail.com"
                smtpPassword="unwu xjxn mzco ksie"
                enableSsl="true"
                from="mapeiris@gmail.com"
                to="mapeiris@hotmail.com"
                subject="NLog Alert: ${level} - ${logger}"
                body="${longdate} ${uppercase:${level}} ${logger} - ${message}${onexception:${newline}${exception:format=toString}}" />
		<target xsi:type="RichTextBox"
                name="rtb"
                controlName="rtxLog"
                formName="MainForm"
                useDefaultRowColoringRules="false"
                layout="${longdate}[${level}-${logger}:${callsite-linenumber}] ${message}"
                autoScroll="true"
                maxLines="10000">
			<rowColoringRules>
				<rowColoringRule condition="level == LogLevel.Debug" fontColor="Cyan" />
				<rowColoringRule condition="level == LogLevel.Info" fontColor="Lime" />
				<rowColoringRule condition="level == LogLevel.Warn" fontColor="Yellow" />
				<rowColoringRule condition="level == LogLevel.Error" fontColor="Red" />
				<rowColoringRule condition="level == LogLevel.Fatal" fontColor="White" backgroundColor="Red" />
			</rowColoringRules>
			<wordColoringRules>
				<highlight-word regex="[-\.]" fontColor="Gray" />
				<highlight-word regex="\d+" fontColor="Yellow" />
				<highlight-word regex="(?&lt;!\[)([A-Za-z0-9_:/]+)(?![^\[]*\])" fontColor="Green" />
				<highlight-word regex="UPDATE" fontColor="Magenta" ignoreCase="true" />
				<wordColoringRule regex="(?i)error" fontColor="Magenta" />
			</wordColoringRules>
		</target>
		<target xsi:type="Null" name="null" />
	</targets>
	<rules>
		<!-- Suppress all logs from Microsoft.* and its sub-namespaces -->
		<logger name="Microsoft.Defualt.*" minlevel="Trace" maxlevel="Fatal" writeTo="null" final="true" />
		<logger name="Common.*" minlevel="Error" final="true" writeTo="null" />	<!-- BlackHole that swallows everything -->

		<logger name="System.Net.Http.HttpClient.x.*" minlevel="Trace" maxlevel="Fatal" writeTo="null" final="true" />
		<logger name="Microsoft.Extensions.Http.*" minlevel="Trace" maxlevel="Fatal" writeTo="null" final="true" />
		<logger name="Common.PubSubService.*" minlevel="Error" writeTo="null" maxlevel="error" final="true"  />

		<!-- Send only [EMAIL] tagged logs to mail -->
		<logger name="*" minlevel="Error" writeTo="mail">
			<filters>
				<when condition="contains('${message}', '[EMAIL]')" action="Log" />
				<when condition="true" action="Ignore" />
				<!-- Ignore all other Error+ logs -->
			</filters>
		</logger>
		<!-- All other logs go to RichTextBox -->
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="rtb" /> 

		

	</rules>
</nlog>