<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="..\..\logs\Log__nLogInternal.log">
	<extensions>
		<add assembly="NLog.Windows.Forms" />
	</extensions>
	<targets>
		<target xsi:type="Mail"
				name="mail"
				smtpServer="smtp.gmail.com"
				smtpPort="587"
				smtpAuthentication="Basic"
				smtpUserName="mapeiris@gmail.com"
				smtpPassword="unwu xjxn mzco ksie"
				enableSsl="true"
				from="mapeiris@gmail.com"
				to="mapeiris@hotmail.com"
				subject="NLog Alert: ${level} - ${logger}"
				body="${longdate} ${uppercase:${level}} ${logger} - ${message}${onexception:${newline}${exception:format=toString}}" />
		<target xsi:type="RichTextBox"
				name="rtb"
				controlName="rtxLog"
				formName="MainForm"
				useDefaultRowColoringRules="false"
				layout="${longdate}[${level}-${callsite}:${callsite-linenumber}] ${message}"
				autoScroll="true"
				maxLines="10000">
			<rowColoringRules><!-- Row coloring by log level -->
				<rowColoringRule condition="level == LogLevel.Debug" fontColor="Cyan"  />
				<rowColoringRule condition="level == LogLevel.Info" fontColor="Lime" />
				<rowColoringRule condition="level == LogLevel.Warn" fontColor="Yellow" />
				<rowColoringRule condition="level == LogLevel.Error" fontColor="Red" />
				<rowColoringRule condition="level == LogLevel.Fatal" fontColor="White" backgroundColor="Red" />
			</rowColoringRules>
			<wordColoringRules>	<!-- Word coloring rules (regex or plain text) -->
				<highlight-word regex="[-\.]" fontColor="Gray" />
				<!-- Color numbers yellow -->

				<highlight-word regex="\d+" fontColor="Yellow" />
				<!-- Highlight words outside [ ] -->
				<highlight-word regex="(?&lt;!\[)([A-Za-z0-9_:/]+)(?![^\[]*\])" fontColor="Green" />

				<highlight-word regex="UPDATE" fontColor="Magenta" ignoreCase="true" />
				<wordColoringRule regex="(?i)error" fontColor="Magenta" /><!-- Case-insensitive 'error' in magenta -->
			</wordColoringRules>
		</target>
	</targets>
	<rules>
		<!-- Ignore Debug logs from DefaultHttpClientFactory -->
		<logger name="Microsoft.Extensions.Http.DefaultHttpClientFactory" minlevel="Trace" maxlevel="Debug" final="true" />
	

		<logger name="*" minlevel="Error" writeTo="mail"><!-- Send only [EMAIL] tagged logs to mail -->
			<filters>
				<when condition="contains('${message}', '[EMAIL]')" action="Log" />
			</filters>
		</logger>
		<logger name="*" minlevel="Trace" writeTo="rtb" />	<!-- All other logs go to RichTextBox -->
		<logger name="*" minlevel="Trace" writeTo="rtb" /><!-- IMPORTANT: must match the target name ("rtb") -->
		<logger name="*" minlevel="Error" writeTo="mail" />
	</rules>
</nlog>
